/*
To change the Navigation card properties edit below class
*/
.navcard {
    display: inline-block;
    width: 312px;
    margin: 0 0 0 20px;
}

/*
To change the Navigation card Border edit below class
*/
.navCardBorder {
    box-shadow: 0 2px  12px rgba(0,0,0,2);
}

/*
To change the property of navigation card new window icon edit below class
*/
.navcard .navCardBorder .textArea .newWindowIcon {
    position: absolute;
	right: 7px;
	top: 7px;
}

.dijitRtl .navcard .navCardBorder .textArea .newWindowIcon {
    right: auto;
    left: 7px;
}

/*
To change the Navigation card properties edit below class
*/
.navcard .navCardBorder .textArea {
    border: 1px solid #fff;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1.5em;
    height: 143px;
    overflow: hidden;
    padding: 22px;
    position: relative;
    vertical-align: top;
    width:266px;
    margin-bottom: 22px;
    background: #81BEF7; /* Old browsers */
    background: -moz-linear-gradient(top, #81BEF7 0%, #A9D0F5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81BEF7), color-stop(100%,#A9D0F5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #81BEF7 0%,#A9D0F5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #81BEF7 0%,#A9D0F5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #81BEF7 0%,#A9D0F5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #81BEF7 0%,#A9D0F5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81BEF7', endColorstr='#A9D0F5',GradientType=0 ); /* IE6-9 */
}

/*
To change the selected Navigation card properties edit below class
*/
.navcard .navCardBorder .textArea:hover {
    border: 1px solid #fff;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    background: #81BEF7 ; /* Old browsers */
    background: -moz-linear-gradient(top, #81BEF7  0%, #58D3F7 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81BEF7 ), color-stop(20%,#58D3F7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #81BEF7  0%,#58D3F7 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #81BEF7  0%,#58D3F7 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #81BEF7  0%,#58D3F7 20%); /* IE10+ */
    background: linear-gradient(to bottom, #81BEF7  0%,#58D3F7 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81BEF7 ', endColorstr='#58D3F7',GradientType=0 ); /* IE6-9 */
}

.navcard .navCardBorder .textArea:focus {
	outline: 2px solid #8CCAE3;
	border: 1px solid #0297D1;
}

.dijitRtl .navCardBorder .textArea .name {
    text-align: right;
}

.navcard .navCardBorder .textArea .desc {
    color: #222;
    font-size: .7em;
    word-wrap: break-word;
    margin-bottom: 10px;
    text-align: left;
}

.navcard .navCardBorder .textArea .name {
    font-size: 1.35em;
    font-weight: bold;
    word-wrap: break-word;
    text-align: left;
    color: #045FB4;
    margin-bottom: 10px;
}

.dijitRtl .navCardBorder .textArea .desc {
    text-align: right;
}

.navcard .navCardBorder .textArea .iconStrip {
    position: absolute;
    bottom: 15px;
    left: 22px;
}

.dijitRtl .navcard .navCardBorder .textArea .iconStrip {
    right: 22px;
}

.navcard .navCardBorder .textArea .navCardCount {
	display: inline-block;
    position: relative;
  	width: 100px;
  	left: 100px;
  	top: 25px;
}

:lang(ja) .navcard .navCardBorder .textArea .navCardCount {
	top: 0px;
}

.dijitRtl .navcard .navCardBorder .textArea .navCardCount {
	right: 70px;
}

.navcard .navCardBorder .textArea .count {
 	color: #ee5334;
  	font-size: 48px;
  	font-weight: bold;
  	text-align: center;
  	left: 55px;
}

.navcard .navCardBorder .textArea .navCardCount .countText {
	font-family: 'Arial';
	font-size: 13px;
	font-weight: bold;
	word-wrap: normal;
	color: #00649b;
	position: relative;
	bottom: 15px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	
.oneui .dijitMenuBar .dijitMenuItem {
  padding: 6px 10px 7px 10px;
  margin: 0 3px 0 2px;
  color: #A9BCF5;
  margin-left: -1px;
}
